@import '../../index.css';

.hero {
    background-color: var(--off-white);
    color: var(--secondary-bg-color);
    padding: 100px 0;
}

.heroContainer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.heroImgDiv {
    max-width: 500px;
    margin: 2em auto;
}