.cartSection {
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cartList, .cartProduct {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cartList {
    display: flex;
    flex-direction: column;
    /* gap: 1em; */
}

.cartProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1em;
}

.cartProduct img {
    height: 100px;
    width: 100px;
    object-fit: contain;
    object-position: center;
    background-color: hsla(0, 0%, 59%, 0.063);
    padding: 0.5em;
    border-radius: 5px;
}

.titleAndQty h4 {
    margin-bottom: 1em;
}

.quantity {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0px 0.2px 0.4px 0px #000000;
    display: flex;
    width: 144px;
    height: 40px;
}

.quantity * {
    text-align: center;
}

.quantity button {
    padding: 0 20px;
    font-weight: bold;
    width: 30%;
    background-color: #fff;
}

.quantity button:first-child {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.quantity button:first-child:hover,
.quantity button:last-child:hover {
    /* background-color: hsla(0, 0%, 95%, 0.95); */
    background-color: hsla(20, 100%, 59%, 0.095);
}

.quantity button:last-child {
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.groupImgQty {
    display: flex;
    gap: 5em;
}

h2 {
    text-align: center;
    margin-bottom: 0.8em;
}

.cartProduct button {
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1em;
    padding: 1em 0;
}

.checkoutBtn {
    align-self: center;
}