.cartSection {
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cartList, .cartProduct {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cartList {
    display: flex;
    flex-direction: column;
    /* gap: 1em; */
}

.cartProduct {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1em;
}

.cartProduct img {
    height: 100px;
    width: 100px;
    object-fit: contain;
    object-position: center;
    background-color: hsla(0, 0%, 59%, 0.063);
    padding: 0.5em;
    border-radius: 5px;
}

.quantity {
    border: 0.5px solid rgba(0, 0, 0, 0.285);
    border-radius: 5px;
    max-width: fit-content;
    box-shadow: 0px 0.2px 0.4px 0px #000000;
}

.quantity span {
    padding: 0 20px;
    font-weight: bold;
}

.quantity span:first-child {
    border-right: 0.5px solid rgba(0, 0, 0, 0.285);
    cursor: pointer;
}

.quantity span:last-child {
    border-left: 0.5px solid rgba(0, 0, 0, 0.285);
    cursor: pointer;
}

.groupImgQty {
    display: flex;
    gap: 5em;
}

h2 {
    text-align: center;
    margin-bottom: 0.8em;
}

.cartProduct button {
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1em;
    padding: 1em 0;
}

.checkoutBtn {
    align-self: center;
}