@import '../../index.css';

.navbar {
    background-color: var(--primary-bg-color);
    padding: 1em 0;
}

.navBarContainerLink {
    text-decoration: none;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 100px;
    padding: 0.5em 1em;
}

.navBarContainerLink:hover,
.navBarContainerLink:focus {
    background-color: var(--text-color);
    color: var(--primary-bg-color);
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
}

.navbarLinks {
    display: flex;
    gap: 1em;
}

.cart {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.cart h4 {
    position: absolute;
    margin: 0;
    color: #ff884d;
    align-self: start;
    font-size: 14px;
    transform: translate(15%, 30%);
}

.navbar img {
    filter: brightness(0) saturate(100%) invert(97%) sepia(3%) saturate(253%) hue-rotate(159deg) brightness(97%) contrast(93%);
    display: block;
    width: 36px;
}